* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* exemples */
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

:root {
    --red : #f72210;
}

.nav-top {
    background-color: var(--red);
}

/* MAIN CLASSES */

ul {
    list-style: none;
    padding: 0;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex- {
    flex: 2;
}





.bottom-nav a {
    color: gray;
    margin: auto 0;
    
}

.bottom-nav a:first-child {
   color: black;
 }

.bottom-nav a:nth-child(n+2):hover {
   color: #f72210;
   text-decoration: none;
}

.bottom-nav a:first-child:hover {
   text-decoration: none;
   color: none;
}

#navFirst {
    align-content: center;
}

.image-container {
    width: 333px;
    height: 222px;
    background-color: red;
}
.image-container p {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    padding: 20px;
    background-color: lightblue;
}

img {
    object-fit: cover;
}