/* Reset */
:root {
    --body-color: #e6ebf0;
    --red: rgb(248, 44, 8);  
    --grey: rgb(134, 126, 126);
    --figcap-bg: #f0e7e7e6;
    
  }
  
  .bg-red {
    background-color: var(--figcap);
  }
  
  .red {
    color: var(--figcap);
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
  }

/* Global */  
 body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
    background-color: var(--body-color);
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: var(--red);
  }

 
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  figcaption {
    background-color: var(--figcap-bg);
    color: var(--red);
    bottom: 0;
    left: 0;
  }


  .wrapper {
    width: 90%;
  }
  
  /* Header */
  
.nav-header {
    background-color: var(--red);
  }
    

  .nav-bottom {
      width: 60%;
  }
  .custom-color {
    color: var(--grey);
 }

 /* Section: In The Magazin and Editor's pic */

 .logo-pic {
    max-width: 30px;
    max-height: 30px;
  }
  
  .bg {
    background-color: var(--red);
  }
  
  .text-color {
    color: var(--red);
  }
  

